{{template "base/head" .}}
<div class="ui container center">
	<p style="margin-top: 100px"><img height="200px" src="https://cdn.jsdelivr.net/npm/gitote@1.0.1/img/500.png" alt="500"/></p>
	<h3 style="font-weight:bold;" class="five-zero-zero">We're having a really bad day.</h3>
	<h4 class="five-zero-zero">The Unicorns have taken over. We're doing our best to get them under<br/> control and get Gitote back up and running.</h4>
</div>
{{template "base/footer" .}}
